
<section id="clients">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3>We love our clients</h3>
              <p>and we like to think they love us too! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur nulla orci, in sollicitudin mauris viverra id. Donec est lectus, eleifend vitae rutrum eu, porta sed nisl. Nunc vehicula enim eget risus faucibus, id interdum nisi commodo. Nunc eget massa eget ipsum.</p>
            </div>
          </div>
          <div class="row grid-pad">
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo1.png" alt="" class="img-responsive center-block">
                <h5>Mattis Inc.</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p>
            </div>
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo2.png" alt="" class="img-responsive center-block">
                <h5>Purus Alabama co.</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p>
            </div>
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo3.png" alt="" class="img-responsive center-block">
                <h5>DgMe Company</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p>
            </div>
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo4.png" alt="" class="img-responsive center-block">
                <h5>Crea Media Boston</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p>
            </div>
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo5.png" alt="" class="img-responsive center-block">
                <h5>Wild and Wild</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis purus.</p>
            </div>
            <div class="col-sm-6 col-md-4"><a href="client-single.html"><img src="../../../assets/clients/logo6.png" alt="" class="img-responsive center-block">
                <h5>Nulla Studio</h5></a>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nulla convallis pulvinar vestibulum. Donec eleifend, sem sed dictum mattis, turpis.</p>
            </div>
          </div>
        </div>
      </section>
