<section id="action-slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h3>Introduction</h3>
        <p>Universal is the perfect template for your next project! It’s time to grow your business. Go make something awesome. Designed for Everyone. Let’s give your website a brand.</p><a href="#" class="btn btn-dark">Get it Now!</a>
      </div>
      <div class="col-lg-6 col-lg-offset-1">
        <div id="carousel-light" class="carousel slide carousel-fade">
          <ol class="carousel-indicators">
            <li data-target="#carousel-light" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-light" data-slide-to="1"></li>
            <li data-target="#carousel-light" data-slide-to="2"></li>
          </ol>
          <div role="listbox" class="carousel-inner">
            <div class="item active"><img src="../../../assets/misc/1.png" alt="" class="img-responsive center-block"></div>
            <!-- <div class="item"><img src="../../img/misc/2.png" alt="" class="img-responsive center-block"></div>
            <div class="item"><img src="../../img/misc/3.png" alt="" class="img-responsive center-block"></div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


