
<div class="small-header bg-img3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Main Body 1</h3>
      </div>
      <div class="col-md-6 text-right">
        <h6>Main Body 1 Content</h6>
        
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elits</h5>
      </div>

      <div class="col-md-6">
        <h3>Main Body 2</h3>
      </div>
      <div class="col-md-6 text-right">
        <h6>Main Body 2 Content</h6>
        
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elits</h5>
      </div>

      <div class="col-md-6">
        <h3>Main Body 3</h3>
      </div>
      <div class="col-md-6 text-right">
        <h6>Main Body 3 Content</h6>
        
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis pulvinar vestibulum. Doneceleifend, sem sed dictum. Lorem ipsum dolor sit amet, consectetur adipiscing elits</h5>
      </div>
    </div>
  </div>
</div>