<div class="image" >
    <br>
    <mat-card class=" container example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="form-group row justify-content-center bwtitle">Registration</div><br>
                <!-- <h1>Registration</h1> <br> -->
                    <div class="alert alert-success" *ngIf="success" style="height:62%; width: 107%;">
                        <strong>You are successfully registered!</strong> <br>
                        We have sent you an activation email on your registered email id
                            <br>
                            Click on link in the email to activate your account .
                    </div>
                    <div class="alert alert-danger" *ngIf="errorUserExists">
                        <strong>Login name already registered!</strong> <br> Please choose another one.
                    </div>
                    <div class="alert alert-danger" *ngIf="errorEmailExists">
                        <strong>Email is already in use!</strong> <br> Please choose another one.
                    </div>
        
                    <div class="alert alert-danger" *ngIf="doNotMatch">
                        The password and its confirmation do not match!
                    </div>
                </div>
            </div>
    
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                        <!-- <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Login Id" required
                                    minlength="3" maxlength="40" pattern="^[_.@A-Za-z0-9-]*$">
                            </mat-form-field>
                            </div> -->
                            <!-- <div>
                                <mat-form-field style="width: 100%;">
                                    <input matInput [(ngModel)]="registerAccount.fname" id="fname" name="fname" #login="ngModel" placeholder="First Name" required
                                        minlength="3" maxlength="40" pattern="^[_.@A-Za-z0-9-]*$">
                                </mat-form-field>
                            </div> -->
                           
                            <!-- <div *ngIf="login.dirty && login.invalid">
                                <small class="form-text text-danger" *ngIf="login.errors.required">
                                    Your username is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.minlength">
                                    Your username is required to be at least 3 character.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                                    Your username cannot be longer than 40 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="login.errors.pattern">
                                    Your username can only contain letters and digits.
                                </small>
                            </div> -->
<!--                         
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput [(ngModel)]="registerAccount.lname" id="lname" name="lname" #login="ngModel"  placeholder="Last Name" required
                                    minlength="3" maxlength="40" pattern="^[_.@A-Za-z0-9-]*$">
                            </mat-form-field> -->
                            <!-- <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div> -->
                        <!-- </div> -->
                        <!-- <div class="form-group">
                        <mat-form-field style="width: 100%;">
                            <input matInput type="number" jhiNumberOnly [(ngModel)]="registerAccount.mobile" id="mobile" name="mobile" #mobile="ngModel" placeholder="Your mobile number" required minlength="10" maxlength="20" pattern="^[_.@0-9-]*$">
                        </mat-form-field>
                        <div *ngIf="mobile.dirty && mobile.invalid">
                            <small class="form-text text-danger" *ngIf="mobile.errors.required">
                                Your mobile number is required.
                            </small>
                            <small class="form-text text-danger" *ngIf="mobile.errors.minlength"
                                   >
                                Your mobile number is required to be at least 10 character.
                            </small>
                            <small class="form-text text-danger" *ngIf="mobile.errors.maxlength"
                                   >
                                Your mobile number cannot be longer than 20 characters.
                            </small>
                            <small class="form-text text-danger" *ngIf="mobile.errors.pattern"
                                  >
                                Your mobile number can only contain digits.
                            </small>
                        </div>
                    </div> -->
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="email" id="email" name="email" #email="ngModel" placeholder="Your email" [(ngModel)]="registerAccount.email"
                                    minlength=5 maxlength=254 email required>
                            </mat-form-field>
                            <div *ngIf="email.dirty && email.invalid">
                                <small class="form-text text-danger" *ngIf="email.errors.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.invalid">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="password" id="password" name="password" #password="ngModel" placeholder="New password" [(ngModel)]="registerAccount.password"
                                    minlength=6 maxlength=50 required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" (ngModelChange)="Validate($event)">
                            </mat-form-field>
                                <small class="form-text text-danger" *ngIf="letter">
                                    A <b>lowercase</b> letter required
                                </small>
                                <small class="form-text text-danger" *ngIf="capital">
                                    A <b>capital (uppercase)</b> letter required
                                </small>
                                <small class="form-text text-danger" *ngIf="number">
                                    A <b>number</b> required
                                </small>
                                <small class="form-text text-danger" *ngIf="chars">
                                    A <b>Special Character</b> required
                                </small>

                            <div *ngIf="password.dirty && password.invalid">
                                <small class="form-text text-danger" *ngIf="password.errors.required">
                                    Your password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.minlength">
                                    Your password is required to be at least 6 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </small>
                            </div>
                            <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                        </div>
                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput type="password" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                                    [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                            </mat-form-field>
                            <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                                    Your confirmation password is required.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                                    Your confirmation password is required to be at least 4 characters.
                                </small>
                                <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                                    Your confirmation password cannot be longer than 50 characters.
                                </small>
                            </div>
                        </div>                       
                       <div class="form-group row justify-content-md-center">

                            <re-captcha></re-captcha>
                            <!-- <div class="g-recaptcha" data-sitekey="6Lca-nUUAAAAAJyHWjKfB8YhUUFa98MhgY1qs1WR" aria-required="true"></div> -->
                        </div>
                        <div class="form-group row justify-content-center" id="g-recaptcha-error"></div>
                        <!-- <re-captcha id="captcha" (resolved)="resolved($event)" siteKey="6LdjNGoUAAAAAF19XxCrlQfq7XshPNBJ6HaFjNKU" required></re-captcha> -->
    
    
                        <br>
                        <div class="form-group row justify-content-center">
                            <ng-container *ngIf="registerForm.form.invalid ; else elseTemplate">
                                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-outline-danger ">Register</button>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <button type="submit" class="btn btn-outline-success btn-lg btn-block">Register</button>
                            </ng-template>
                        </div>
    
    
                    </form>
                    <p></p>
                    <!-- <div class="alert alert-warning">
                    <span>If you want to </span>
                    <a class="alert-link" (click)="openLogin()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
                </div> -->
                </div>
            </div>
        </mat-card-content>
    
      </mat-card>
</div>


