
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5a66b8084b401e45400c4dcf/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
<!-- <section class="section-small footer bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h5>About</h5>
         <p>Buckswise is a brand product of ValueQuo Solutions Pvt. Ltd.
          Thanks for choosing ValueQuo as your trusted partner. ValueQuo team is always keen to support and go out of way to ensure your success. We value our relationship and hope for a long term relationship.</p>
        </div>
        <div class="col-sm-2 col-sm-offset-1 footer-menu">
          <h5>Company</h5>
          <h6 class="no-pad"><a href="#">Our Services</a></h6>
          <h6 class="no-pad"><a routerLink="/contact">Contact Us</a></h6>
          <h6 class="no-pad"><a routerLink="/contact">About us</a></h6>
          <h6 class="no-pad"><a routerLink="/register">Register</a></h6>
        </div>
        <!-- <div class="col-sm-2 footer-menu">
          <h5>&nbsp;</h5>
          
        </div> -->
        <!--<div class="col-sm-3 text-right">
          <h5>Total downloads</h5><span data-min="0" data-max="2785" data-delay="5" data-increment="3" class="numscroller roller-title-number-5 scrollzip isShown" data-slno="5">2785</span>
        </div>
        <div class="col-sm-3 col-sm-offset-1 text-right">
          <ul class="list-inline">
            
            <a href="https://twitter.com/valuequo">
                <i class="fa fa-twitter fa-fw fa-lg"></i>                

            <a href="https://www.facebook.com/valuequo/ ">
                <i class="fa fa-facebook fa-fw fa-lg"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="https://plus.google.com/communities/105935515489375984153">
                <i class="fa fa-google-plus fa-fw fa-lg"></i></a>   &nbsp;&nbsp;&nbsp;&nbsp;

            <a href="https://valuequosolutionspvtltd.business.site/?bw=true">
                <i class="fa fa-google fa-fw fa-lg"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                

            <a href="https://www.linkedin.com/company/valuequo/">
                <i class="fa fa-linkedin fa-fw fa-lg"></i></a>       &nbsp;&nbsp;&nbsp;&nbsp;
             </ul>
        </div>
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
      </div>
    </div>
  </section>

  -->


  

        <!--        <li><a href="https://twitter.com/valuequo">
                <i class="fa fa-twitter fa-fw fa-lg"></i>
                <ion-icon name="heart"></ion-icon></a></li>

            <li><a href="https://www.facebook.com/valuequo/ ">
                <i class="fa fa-facebook fa-fw fa-lg"></i></a></li>

            <li><a href="https://plus.google.com/communities/105935515489375984153">
                <i class="fa fa-google-plus fa-fw fa-lg"></i></a></li>

            <li><a href="https://valuequosolutionspvtltd.business.site/?bw=true">
                <i class="fa fa-google fa-fw fa-lg"></i></a></li>

            <li><a href="https://www.linkedin.com/company/valuequo/">
                <i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>-->
   
   <section class="section-small footer bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>About Company</h5>
                <p>Buckswise is a brand product of ValueQuo Solutions Pvt. Ltd. Thanks for choosing ValueQuo as your trusted partner. ValueQuo team is always keen to support and go out of way to ensure your success. We value our relationship and hope for a long term relationship.

                    </p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 col-sm-offset-1 footer-menu">
                <h5>Quick Links</h5>
                <h6 class="no-pad"><a href="#">Home</a></h6>
                <h6 class="no-pad"><a href="#">Our Services</a></h6>
                <h6 class="no-pad"><a routerLink="/subscription">Pricing</a></h6>
                <h6 class="no-pad"><a routerLink="/contact">Contact Us</a></h6>
               <!---- <h6 class="no-pad"><a href="blogs">Blogs</a></h6>-->
            </div> 
            <div class="col-sm-5 text-center">

                <h4 class="cust-head">Subscribe</h4>
                <h6>Sign-Up For News Updates and Alerts</h6>
                <!-- MailChimp Signup Form - Replace the form action in the line below with your MailChimp embed action! For more information on how to do this please visit the Docs!-->
                <form id="mc-embedded-subscribe-form"  name="subscribe"  class="form-inline subscribe-form">
                    <div class="input-group input-group-md"style="margin-left:100px;">
                        <input  type="email" name="email"  placeholder="Email address...">&nbsp;
                        <span class="input-group-btn">
                            <button type="submit" name="subscribe" class="btn btn-dark">Subscribe</button></span>
                        <div id="mce-responses"></div>
                        <div id="mce-error-response" style="display:none" class="response"></div>
                        <div id="mce-success-response" style="display:none" class="response"></div>
                    </div>
                </form>
                <!-- End MailChimp Signup Form-<img src="img/misc/mailchimp.png" alt="">-->
            </div>
        </div>
    </div>
</section>
<!-- <section class="section-small footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <p>Copyright &copy; 2018 <a style="color:white;"href=""> ValueQuo Solutions Pvt. Ltd.</a> | All rights reserved.</p>                        
                </div> 
                <div class="col-sm-4 col-sm-offset-1 text-right">
                    <ul class="list-inline">
                        <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-fw fa-lg"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-fw fa-lg"></i></a></li>
                        <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus fa-fw fa-lg"></i></a></li>
                        <li><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-fw fa-lg"></i></a></li>
                    </ul>
                </div> -->
                <section class="section-small footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6" style="margin-top:15px">
                                        <p>Copyright &copy; 2018 <a style="color:white;"href=""> ValueQuo Solutions Pvt. Ltd.</a> | All rights reserved.</p>                        
                                    </div> 
                <div class="col-sm-6 col-sm-offset-1 text-right" style="margin-top:15px">
                        <ul class="list-inline">
                          <a style="color:white;" href="https://twitter.com/valuequo">
                              <i class="fa fa-twitter fa-fw fa-lg"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;                
              
                          <a style="color:white;"href="https://www.facebook.com/valuequo/ ">
                              <i class="fa fa-facebook fa-fw fa-lg"></i></a>  &nbsp;&nbsp;&nbsp;&nbsp;
              
                          <a style="color:white;"href="https://plus.google.com/communities/105935515489375984153">
                              <i class="fa fa-google-plus fa-fw fa-lg"></i></a>   &nbsp;&nbsp;&nbsp;&nbsp;
              
                          <!-- <a href="https://valuequosolutionspvtltd.business.site/?bw=true">
                              <i class="fa fa-google fa-fw fa-lg"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                               -->
              
                          <a style="color:white;"href="https://www.linkedin.com/company/valuequo/">
                              <i class="fa fa-linkedin fa-fw fa-lg"></i></a>       &nbsp;&nbsp;&nbsp;&nbsp;
                           </ul>
                      </div>
            </div>
        </div>
    </section>
