

    <header class="img14 intro" >
      <div class="intro-body">
        <div class="header-text">
          <h2 >
            जय महाराष्ट्र <br>
            Welcome<br>
            to the future
           <br>
            <button style="height: 33px; width: 120px; font-size: 15px;" class="btn btn-outline-warning" type="button"  routerLink="/register">
              Fly
            </button>
          </h2>
        </div>

        <!-- <h1 class="zoomInDown animated" >Buckswise
          <span class="badge hidden-sm hidden-xs ">finance</span>
        </h1> -->
        <!-- <div data-wow-delay="1s" class="scroll-btn wow fadeInDown">
          <a routerLink="how" href="#">
          <span class="mouse">
            <span class="weel">
              <span></span>
            </span>
          </span>
          </a>
        </div> -->
      </div>
    </header>
