

    <header class="img14 intro" style="margin-top: -32px;">
      <div class="intro-body">
        <h2 style="margin-left:100px; margin-bottom: 500px">
          जय महाराष्ट्र <br>
          Welcome<br>
          to the future
         <br>
         <button style="height: 33px; width: 120px; font-size: 15px;" class="btn btn-outline-warning" type="button"  routerLink="/register">
          Fly
        </button>
        </h2>
       
        <!-- <h1 class="zoomInDown animated" >Buckswise
          <span class="badge hidden-sm hidden-xs ">finance</span>
        </h1> -->
        <!-- <div data-wow-delay="1s" class="scroll-btn wow fadeInDown">
          <a routerLink="how" href="#">
          <span class="mouse">
            <span class="weel">
              <span></span>
            </span>
          </span>
          </a>
        </div> -->
      </div>
    </header>
