/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


/*
AUTHOR: Pratik Bali
GIT: github.com/pratikbali/contribution/
*/
/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
  font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.setfont {
  font-family: "ArtifaktElementRegular", Tahoma, Helvetica, Arial, sans-serif;
  font-size: 18px;
}
.gray {
  background-color: #a9a9a9;
}
.gray1 {
  background-color: #dcdcdc;
}
.example-card1 {
  max-width: 800px;
  height: 415px;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
  cursor: pointer;
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .toast {
    width: 50%;
  }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
  @if $side == "all" {
    .no-padding {
      padding: 0 !important;
    }
  } @else {
    .no-padding-#{$side} {
      padding-#{$side}: 0 !important;
    }
  }
}
@include no-padding("left");
@include no-padding("right");
@include no-padding("top");
@include no-padding("bottom");
@include no-padding("all");

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
  width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
   http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
  border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
  outline: none;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

.box {
  background: yellow;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}
.box2 {
  background: lightcyan;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
}
.dragging {
  background: lightblue;
}
.sortable.dragging {
  background: blueviolet;
  border: 1px dashed black;
  color: transparent;
}

.draggable {
  cursor: move;
}

.movable:not(.dragging) {
  transition: transform 500ms ease-in-out;
}
.spinner-margin {
  margin: 0 10px;
}

.area {
  background: lightcyan;
  padding: 40px;
  border: 1px solid magenta;
  border-radius: 20px 40px;
}

/* new common css  */
.bwtitle {
  font-size: 20px;
  color: white;
  font-weight: bolder;
  font-family: "Tahoma";
  background-color: #f1592a;
}
.bwsubtitle {
  font-size: 20px;
  font-weight: bolder;
  font-family: "Tahoma";
}
.bwaccordtitle {
  font-size: 17px;
  color: white;
  font-weight: bolder;
  font-family: "Tahoma";
}
.heading {
  font-size: 17px;
  font-weight: bolder;
  font-family: "Tahoma";
}
.subheading {
  font-size: 14px;
  font-weight: bolder;
  font-family: "Tahoma";
}
.tddata {
  font-size: 14px;
  font-family: "Tahoma";
}
.bwshadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bwblueline {
  background-color: blue;
  height: 1px;
}
.bworangeline {
  background-color: orange;
  height: 1px;
}
.btn-right {
  margin-top: 14px;
}

.a {
  margin-right: 448px;
}
.accordcol {
  background-color: #2e3192;
}
.accordcolor {
  background-color: #f1592a;
}

.mat-expansion-panel-content {
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
}
.header {
  cursor: pointer;
  background-color: gray;
}
.colm {
  background-color: #f1592a;
  margin-left: 457px;
}
.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title,
.mat-content > mat-panel-description {
  flex: 0 0 auto;
}
.imag {
  height: 50%;
  width: 50%;
}
.partner {
  background-color: #f8f9fa;
}
.partners {
  height: 30%;
  width: 100%;
}

hr {
  border: none;
  background-color: whitesmoke;
  color: whitesmoke;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  background-color: #f1592a;
  color: white;
}
.btnSave {
  color: white;
  background-color: #f1592a;
}
.btnCancel {
  color: white;
  background-color: red;
}
.btnReset {
  color: white;
  background-color: #2e3192;
}
.roundBorder {
  border-radius: 25px;
  border: 2px solid #2e3192;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.bwtitlegoal {
  font-size: 21px;
  color: white;
  font-weight: bolder;
  font-family: "Tahoma";
  background-color: #f1592a;
  text-align: center;
}
