
<section id="about2" class="bg-dark2">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-6">
          <h3>How Do WE Do It</h3>
         
          <div>
          <p>Universal easily and efficiently scales your project with one code base. Amazing solution for portfolio websites which you can fit for freelancers, photographers or agency showcase.</p><a href="https://themeforest.net/item/universal-smart-multipurpose-html5-template/17268942" class="btn btn-gray">Check it out</a>
        </div>
      </div>
        <div class="col-lg-5 col-lg-offset-1 text-center">
          <h3>&nbsp;</h3>
          <div data-thickness="13" data-value="0.93" class="circle"><span></span>
            <div class="agenda">Design</div>
          </div>
          <div data-thickness="8" data-value="0.89" class="circle"><span></span>
            <div class="agenda">Programming</div>
          </div>
          <div data-thickness="4" data-value="0.82" class="circle"><span></span>
            <div class="agenda">Photography</div>
          </div>
        </div>
      </div>
    </div>
  </section>
